{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #
 # Variables provided in this template:
 #
 # - fixPost <Array>
 # - blogPosts <Array>
 #}
{% extends "layout.twig" %}

{% block menu_main %}
    <li><a class="current" href="">{{ 'News Feed'|t }}</a></li>
{% endblock %}

{% block content %}
    {% if fixPost %}
        <section class="fixed">
            <article>
                <header>
                    <h2>{{ fixPost.title }}</h2>
                    {% if fixPost.summary is not empty %}
                        <p class="summary">{{ fixPost.summary }}</p>
                    {% endif %}
                </header>
                <p>
                    {% if fixPost.illustration is not empty %}
                        <img class="illustration" src="{{ fixPost.illustration }}" />
                    {% endif %}
                    {{ fixPost.contentLead }}
                </p>
                <p class="author"><a href="user/{{ fixPost.author.username }}" alt="{{ fixPost.author.name }}">{{ fixPost.author.name }}</a></p>
            </article>
        </section>
    {% endif %}

    <section>
        {% for blogPost in blogPosts %}
        <article>
            <header>
                <h2><a href="{{ blogPost.path }}">{{ blogPost.title }}</a></h2>
                <p class="meta">
                    {% if blogPost.publishedAt.isToday() %}
                        {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                    {% elseif blogPost.publishedAt.isCurrentYear() %}
                        {% set publishDate = blogPost.publishedAt.format('BDT') %}
                    {% else %}
                        {% set publishDate = blogPost.publishedAt.format('Y4BDT') %}
                    {% endif %}
                    {{ 'Published at: %s'|t(publishDate)|raw }},
                    {% if blogPost.location is not empty %}{{ 'In the area of %s'|t(blogPost.location)|raw }}.{% endif %}
                    <br>
                    {% set authorLink = '<a href="user/' ~ blogPost.author.username ~ '" alt="' ~ blogPost.author.name ~ '">' ~ blogPost.author.name ~ '</a>' %}
                    {{ 'Author: %s'|t(authorLink)|raw }}<br />

                    {% set categoryLink = '' %}
                    {% for url,title in blogPost.category %}
                        {% set categoryLink = '<a href="category/' ~ url ~'">' ~ title ~ '</a>' %}
                    {% endfor %}
                    {{ 'In category of %s'|t(categoryLink)|raw }}


                    {% if blogPost.tags|length > 0 %}
                        {% set tagList = '' %}
                            {% for url,title in blogPost.tags %}
                                {% set tagList = tagList ~ '<a href="tag/' ~ url ~ '">#' ~ title ~ '</a> ' %}
                            {% endfor %}
                            , {{ 'with tags: %s'|t(tagList)|raw }}
                    {% endif %}
                </p>
                {% if blogPost.summary is not empty %}
                    <p class="summary">{{ blogPost.summary }}</p>
                {% endif %}
            </header>
            <p>
                {% if blogPost.illustration is not empty %}
                    <img class="illustration" src="{{ blogPost.illustration }}" />
                {% endif %}
                {{ blogPost.contentLead }}
            </p>
            <p class="readmore"><a href="{{ blogPost.path }}">{{ 'Read more...'|t }}</a></p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
