{##
 # WebHemi.
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #
 # Variables provided in this template:
 #
 # - fixPost <Array>
 # - blogPosts <Array>
 #}
{% extends "layout.twig" %}

{% block menu_main %}
    <li><a class="current" href="">Main page</a></li>
{% endblock %}

{% block content %}
    {% if fixPost %}
        <article>
            <header>
                <h2>{{ fixPost.title }}</h2>
                {% if fixPost.summary is not empty %}
                    <p class="summary">{{ fixPost.summary }}</p>
                {% endif %}
            </header>
            <p>
                {% if fixPost.illustration is not empty %}
                    <img class="illustration" src="{{ fixPost.illustration }}" />
                {% endif %}
                {{ fixPost.contentLead }}
            </p>
            <p class="author"><a href="user/{{ fixPost.author.username }}" alt="{{ fixPost.author.name }}">{{ fixPost.author.name }}</a></p>
        </article>
    {% endif %}

    {% for blogPost in blogPosts %}
    <article>
        <header>
            <h2><a href="{{ blogPost.path }}">{{ blogPost.title }}</a></h2>
            <p>
                Posted on {{ blogPost.publishedAt|date("F d., H:i") }}
                by <a href="user/{{ blogPost.author.username }}" alt="{{ blogPost.author.name }}">{{ blogPost.author.name }}</a><br />
                {% if blogPost.location is not empty %}from {{ blogPost.location }}{% endif %}
                in {% for url,title in blogPost.category %}<a href="category/{{ url }}">{{ title }}</a>{% endfor %} category
                {% if blogPost.tags|length > 0 %}
                    with tags {% for url,title in blogPost.tags %}<a href="tag/{{ url }}">#{{ title }} </a>{% endfor %}
                {% endif %}
            </p>
            {% if blogPost.summary is not empty %}
                <p class="summary">{{ blogPost.summary }}</p>
            {% endif %}
        </header>
        <p>
            {% if blogPost.illustration is not empty %}
                <img class="illustration" src="{{ blogPost.illustration }}" />
            {% endif %}
            {{ blogPost.contentLead }}
        </p>
        <p class="readmore"><a href="{{ blogPost.path }}">Read more...</a></p>
    </article>
    {% endfor %}
{% endblock %}
