{% extends "layout.twig" %}

{% block title %}{{ blogPost.title }} - {{ parent() }}{% endblock %}

{% block content %}
    <section>
        <article>
            <header>
                <h2>{{ blogPost.title }}{{ blogPost.category.key }}</h2>
                {% if blogPost.publishedAt.isToday() %}
                    {% set publishDate = 'Today'|t ~ ', ' ~ blogPost.publishedAt.format('T') %}
                {% elseif blogPost.publishedAt.isCurrentMonth() %}
                    {% set publishDate = blogPost.publishedAt.format('BDT') %}
                {% else %}
                    {% set publishDate = blogPost.publishedAt.format('Y4BDT') %}
                {% endif %}
                <p><span class="date">{{ 'Published at: %s'|t(publishDate) }}</span> | <a href="user/{{ blogPost.author.username }}" alt="{{ blogPost.author.name }}">{{ blogPost.author.name }}</a></p>
                {% if blogPost.illustration is not empty %}
                    <img class="illustration" src="{{ blogPost.illustration }}" />
                {% endif %}
            </header>
            <p>{{ blogPost.contentLead }}</p>
            <p>{{ blogPost.content|markdown }}</p>
        </article>
    </section>
{% endblock %}
