{% macro renderForm(form) %}
    {% if form.current().getTagName() == 'form' %}
        {{ _self.renderSubForm(form) }}
    {% endif %}
{% endmacro %}

{% macro renderSubForm(form) %}
    {% for formElement in form %}
        {{ _self.renderElement(formElement) }}
    {% endfor %}
{% endmacro %}

{% macro renderElement(formElement) %}
    {% if formElement.getTagName() == 'form' %}
        <form name="{{ formElement.getName() }}"{{ _self.renderFormElementAttributes(formElement.getAttributes()) }}>
            {{ _self.renderSubForm(formElement.getChildNodes()) }}
        </form>
    {% elseif formElement.getTagName() == 'fieldset' %}
        <fieldset name="{{ formElement.getName() }}"{{ _self.renderFormElementAttributes(formElement.getAttributes()) }}>
            {{ _self.renderSubForm(formElement.getChildNodes()) }}
        </fieldset>
    {% elseif formElement.getTagName() == 'legend' %}
        <legend>{{ formElement.getLabel() }}</legend>
    {% elseif formElement.getTagName() == 'text' %}
        <label>{{ formElement.getLabel() }} <input type="text" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _self.renderFormElementAttributes(formElement.getAttributes()) }} /></label>
    {% elseif formElement.getTagName() == 'password' %}
        <label>{{ formElement.getLabel() }} <input type="password" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _self.renderFormElementAttributes(formElement.getAttributes()) }} /></label>
    {% elseif formElement.getTagName() == 'submit' %}
        <button type="submit" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _self.renderFormElementAttributes(formElement.getAttributes()) }}>{{ formElement.getLabel() }}</button>
    {% endif %}
{% endmacro %}

{% macro renderFormElementAttributes(formElementAttributes) %}
    {% for key,value in formElementAttributes %}
        {% if key == 'autofocus' %}
            autofocus="autofocus"
        {% elseif key == 'required' %}
            required="required"
        {% elseif key == 'selected' %}
            selected="selected"
        {% elseif key == 'checked' %}
            checked="checked"
        {% elseif key == 'autocomplete' %}
            {% if (value == 1) or (value == true) or (value == 'on') %}
                autocomplete="on"
            {% else %}
                autocomplete="off"
            {% endif %}
        {% else %}
            {{ key }}="{{ value|escape }}"
        {% endif %}
    {% endfor %}
{% endmacro %}
