{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Manage Groups - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > Groups
{% endblock %}

{% set selectedPanel = 'groups' %}

{% block panelcontent %}
    <h1>Manage Groups</h1>
    {% if data %}
        <table summary="User group list">
            <caption>User group list</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for row in data %}
                {# @var row \WebHemi\Data\Entity\UserGroupEntity #}
                <tr>
                    <td>
                        <button class="view" data-name="{{ row.getName() }}">View</button>
                        {% if not row.getIsReadOnly() %}
                            <button class="delete" data-name="{{ row.getName() }}">Delete</button>
                        {% endif %}
                    </td>
                    <td>{{ row.getTitle() }}</td>
                    <td>{{ row.getDescription() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>We're sorry</h3>
        <p>No user groups available at the moment.</p>
    {% endif %}
    {% if isAllowed('admin-control-panel-groups-add') %}
        <button class="add">Add new</button>
    {% endif %}
{% endblock %}
