{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{# @var data \WebHemi\Data\Entity\UserGroupEntity #}
{% extends "admin/control-panel/groups/list.twig" %}

{% block title %}{{ 'Manage Group: "' ~ data.getTitle() ~ '" - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > <a href="control-panel/groups">Groups</a> > {{ data.getTitle() }}
{% endblock %}

{% block content %}
    <h1>Group: "{{ data.getTitle() }}"</h1>
    <table summary="User group data">
        <caption>User group ({{ data.getTitle() }}) details</caption>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ data.getUserGroupId() }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ data.getName() }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ data.getTitle() }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ data.getDescription() }}</td>
            </tr>
            <tr>
                <td>Is Read-only?</td>
                <td>{{ data.getIsReadOnly() }}</td>
            </tr>
            <tr>
                <td>Date Created</td>
                <td>{{ data.getDateCreated() }}</td>
            </tr>
            <tr>
                <td>Date Modified</td>
                <td>{{ data.getDateModified() }}</td>
            </tr>
        </tbody>
    </table>
    {% if not data.getIsReadOnly() %}
        <button class="edit" data-name="{{ data.getName() }}">Edit</button>
    {% endif %}
{% endblock %}
