<div class="element input search">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="search" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
</div>
