<div class="element input date">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="date" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
</div>
