<div class="element input password">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="password" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
</div>
