<div class="element input datetime-local">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="datetime-local" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
</div>
