<div class="element output">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <output id="{{ formElement.getId() }}" name="{{ formElement.getName() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}></output>
</div>
