<div class="element radio">
    {% if formElement.hasOptions() %}
        <fieldset name="{{ formElement.getName() }}">
            <legend>{{ formElement.getLabel() }}</legend>
            {% for label, option in formElement.getOptions() %}
                <label>
                    <input type="radio" name="{{ formElement.getName() }}" value="{{ option.value }}" {{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}{% if option.checked %} checked="checked"{% endif %} />
                    {{ label }}
                </label>
            {% endfor %}
        </fieldset>
    {% else %}
        <input type="radio" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}" {{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
        <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    {% endif %}
</div>
