{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #
 # Variables provided in this template:
 #
 # - WebHemiApplication.selectedModule <String>
 # - WebHemiApplication.address <String>
 # - WebHemiApplication.topDomain <String>
 # - WebHemiApplication.domainName <String>
 # - WebHemiApplication.domainAddress <String>
 # - WebHemiApplication.resourcePath <String> - *website-relative* path to the static template content. Default: "/resources/default_theme/static"
 # - WebHemiApplication.baseUri <String> - *website-relative* path of the current `application`. Default: "/"
 # - WebHemiApplication.currentUri <String> - *website-relative* path of the current within the current application, e.g.: "/auth/login"
 # - WebHemiApplication.language <String>
 # - WebHemiApplication.locale <String>
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<!DOCTYPE html>
<html lang="{{ WebHemiApplication.language }}">
    <head>
        <base href="{%  if WebHemiApplication.baseUri != '/' %}{{ WebHemiApplication.baseUri }}{% endif %}/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{ site_title|default('WebHemi Admin') }}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        {% block additionalHeadElements %}
            {# add or include <link rel="stylesheet"> or <style> elements. #}
        {% endblock %}
        <link rel="stylesheet" href="{{ WebHemiApplication.resourcePath }}/css/admin.css">
        <script type="application/javascript">
            /**
             * Register globals coming from the backend
             */
            var _WebHemiApplication = {{ WebHemiApplication|json_encode()|raw }};
        {% set csrfToken = _context[constant('\\WebHemi\\CSRF\\ServiceInterface::SESSION_KEY')]|default('') %}
        {% if csrfToken is not empty %}
            var _CSRF = '{{ csrfToken }}';
        {% endif %}
        </script>
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <nav>
            <ul>
                {% block menudash %}
                    {% if isAllowed('admin-dashboard') %}
                        <li><a href="">Dashboard</a></li>
                    {% endif %}
                {% endblock %}

                {% block menuapp %}
                    {% if isAllowed('admin-applications-list') %}
                        <li><a href="applications">Applications</a></li>
                    {% endif %}
                {% endblock %}

                {% block menucontrol %}
                    {% if isAllowed('admin-controlpanel-index') %}
                        <li><a href="control-panel">Control Panel</a></li>
                    {% endif %}
                {% endblock %}

                {% block menuabout %}
                    <li><a href="about">About</a></li>
                {% endblock %}

                <li><a href="auth/logout">Logout</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
                {# extend this block in templates. #}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                {% set stat = getStat() %}
                <p>Rendered in {{ stat.duration }} seconds. Memory usage: {{ stat.memory }}.</p>
            {% endblock %}
        </footer>

        {% block dialog %}
            {# add or include <dialog> elements. #}
        {% endblock %}

        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/WebHemi.js"></script>
        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/admin.js"></script>
        {% block additionalFootElements %}
            {# add or include <script> elements. #}
        {% endblock %}
    </body>
</html>
