{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{%  if application.baseUri != '/' %} {{ application.baseUri }}{% endif %}/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{ site_title|default('WebHemi Admin') }}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        {% block additionalHeadElements %}
            {# add or include <link rel="stylesheet"> or <style> elements. #}
        {% endblock %}
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/admin.css">
        {% set csrfToken = _context[constant('\\WebHemi\\CSRF\\ServiceInterface::SESSION_KEY')]|default('') %}
        {% if csrfToken is not empty %}
        <script type="application/javascript">
            var _CSRF = '{{ csrfToken }}';
        </script>
        {% endif %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <nav>
            <ul>
                {% block menudash %}
                    {% if isAllowed('admin-dashboard') %}
                        <li><a href="">Dashboard</a></li>
                    {% endif %}
                {% endblock %}

                {% block menuapp %}
                    {% if isAllowed('admin-applications-list') %}
                        <li><a href="applications">Applications</a></li>
                    {% endif %}
                {% endblock %}

                {% block menucontrol %}
                    {% if isAllowed('admin-controlpanel-index') %}
                        <li><a href="control-panel">Control Panel</a></li>
                    {% endif %}
                {% endblock %}

                {% block menuabout %}
                    <li><a href="about">About</a></li>
                {% endblock %}

                <li><a href="auth/logout">Logout</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
                {# extend this block in templates. #}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                {% set stat = getStat() %}
                <p>Rendered in {{ stat.duration }} seconds. Memory usage: {{ stat.memory }}.</p>
            {% endblock %}
        </footer>

        {% block dialog %}
            {# add or include <dialog> elements. #}
        {% endblock %}

        <script type="application/javascript" src="{{ application.resourcePath }}/js/functions.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/admin.js"></script>
        {% block additionalFootElements %}
            {# add or include <script> elements. #}
        {% endblock %}
    </body>
</html>
