{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{%  if application.baseUri != '/' %} {{ application.baseUri }}{% endif %}/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>WebHemi Admin</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/font.css" />
        <link rel="stylesheet" href="{{ application.resourcePath }}/css/admin.css" />
        {% block additionalcss %}
            {# add or include <link rel="stylesheet"> or <style> elements. #}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="#" class="nav material-icons">menu</a>
            header
            <a href="#" class="aside material-icons">aside</a>
        </header>
        <nav>
            <div class="container">
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
            </div>
        </nav>
        <main>
            {% block content %}
                {# extend this block in templates. #}
            {% endblock %}
        </main>
        <aside>
            <div class="container">
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
                <ul>
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#2">Link 2</a></li>
                    <li><a href="#3">Link 3</a></li>
                    <li><a href="#4">Link 4</a></li>
                    <li><a href="#5">Link 5</a></li>
                </ul>
            </div>
        </aside>
        <footer>
            footer
        </footer>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/functions.js"></script>
        <script type="application/javascript" src="{{ application.resourcePath }}/js/admin.js"></script>
        {% block additionaljs %}
            {# add or include <script> elements. #}
        {% endblock %}
    </body>
</html>
