{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #
 # Variables provided in this template:
 #
 # - WebHemiApplication.selectedModule <String>
 # - WebHemiApplication.address <String>
 # - WebHemiApplication.topDomain <String>
 # - WebHemiApplication.domainName <String>
 # - WebHemiApplication.domainAddress <String>
 # - WebHemiApplication.resourcePath <String> - *website-relative* path to the static template content. Default: "/resources/default_theme/static"
 # - WebHemiApplication.baseUri <String> - *website-relative* path of the current `application`. Default: "/"
 # - WebHemiApplication.currentUri <String> - *website-relative* path of the current within the current application, e.g.: "/auth/login"
 # - WebHemiApplication.language <String>
 # - WebHemiApplication.locale <String>
 #
 # - activeMenu <String>
 #
 # Default macros (for details see the macros/renderForm.twig):
 #
 # - renderForm(form <WebHemi\Form\ServiceInterface>, options <Array>)
 # - renderElement(formElement <WebHemi\Form\ElementInterface>, options <Array>)
 # - renderErrorBlock(errorMessages <Array>)
 #
 #}
<!DOCTYPE html>
<html lang="{{ WebHemiApplication.language|default('en') }}">
    <head>
        <base href="{%  if WebHemiApplication.baseUri != '/' %} {{ WebHemiApplication.baseUri }}{% endif %}/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
        {# @var Application \WebHemi\Data\Entity\ApplicationEntity #}
        <meta name="description" content="{{ Application.getDescription()|default('') }}" />
        <meta name="subject" content="{{ Application.getSubject()|default('') }}" />
        <meta name="language" content="{{ WebHemiApplication.language()|default('en') }}" />
        <meta name="copyright" content="{{ Application.getCopyright()|default('') }}">
        <meta name='robots' content='index,follow' />
        <meta name="theme-color" content="#000000">
        <title>{% block title %}{{ Application.getTitle()|default('WebHemi') }}{% endblock %}</title>
        {% block additionalcss %}
            {# add or include <link rel="stylesheet"> or <style> elements. #}
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap" />
        <link rel="stylesheet" href="{{ WebHemiApplication.resourcePath }}/css/site.css" />
        <link rel="stylesheet" href="{{ WebHemiApplication.resourcePath }}/css/library/emojione.min.css" />
        <link rel="stylesheet" href="{{ WebHemiApplication.resourcePath }}/css/library/highlight.github.css" />
    </head>
    <body>
        <header>
            <a href="#" class="nav material-icons">menu</a>
            <h1>{{  Application.getTitle()|default('WebHemi') }}</h1>
            <a href="#" class="aside material-icons">info</a>
        </header>

        <nav>
            <div class="container">
                {% block menu %}
                    <ul>
                    {% block menu_main %}
                        <li><a href="">{{ 'News Feed'|t }}</a></li>
                    {% endblock %}
                    {% for category in getCategories() %}
                        <li><a {% if activeMenu == category.url %}class="current"{% endif %}href="category/{{ category.url }}">{{ category.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </nav>

        <main>
            {% block content %}
                {# extend this block in templates. #}
            {% endblock %}
        </main>

        <aside>
            <div class="container">
                {% block tagBox %}
                <div class="box">
                    {% set tags = getTags() %}
                    {% if tags is not empty %}
                    <h3>{{ 'Tags'|t }}</h3>
                        <ul>
                        {% for tag in tags %}
                            <li><a {% if activeMenu == tag.url %}class="current"{% endif %}href="tag/{{ tag.url }}">{{ tag.title }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% endblock %}

                {% block archiveBox %}
                <div class="box">
                    <h3>{{ 'Archive'|t }}</h3>
                    <ul>
                    {% for date in getDates() %}
                        <li><a {% if activeMenu == date.url %}class="current"{% endif %}href="archive/{{ date.url }}">{{ date.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endblock %}

                <div class="box">
                    <h3>About section</h3>
                    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </aside>

        <footer>
            <div class="container">
                <p>{{ 'Copyright &copy; %d. All rights reserved.'|t(2018)|raw }} {{ site.title|default('WebHemi') }}.</p>
            </div>
        </footer>
        {% block dialog %}
            {# add or include <dialog> elements. #}
        {% endblock %}
        {% block additionaljs %}
            {# add or include <script> elements. #}
        {% endblock %}
        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/library/emojione.min.js"></script>
        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/library/highlight.pack.js"></script>
        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/functions.js"></script>
        <script type="application/javascript" src="{{ WebHemiApplication.resourcePath }}/js/site.js"></script>
    </body>
</html>
