{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin-layout.twig" %}

{% block title %}{{ 'Applications - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > Applications
{% endblock %}

{% block menuapp %}
    {% if isAllowed('admin-applications-list') %}
        <li class="selected"><a href="applications">Applications</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Applications</h1>
    <table summary="Applications">
        <caption>Applications</caption>
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Path</th>
            <th>Theme</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for data in applications %}
            <tr>
                <td><button onclick="location.href='applications/view/{{ data.name }}';">View</button></td>
                <td>{{ data.name }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.subject }}</td>
                <td>{{ data.path }}</td>
                <td>{{ data.theme }}</td>
                <td>{{ data.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
