{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
{% extends "admin-layout.twig" %}

{% block title %}{{ 'Applications - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > Applications
{% endblock %}

{% block menuapp %}
    {% if isAllowed('admin-applications-list') %}
        <li class="selected"><a href="applications">Applications</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Applications</h1>
    <table summary="Applications">
        <caption>Applications</caption>
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Domain</th>
            <th>Path</th>
            <th>Theme</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {# @var row \WebHemi\Data\Entity\ApplicationEntity #}
            <tr>
                <td>
                    <button class="view" data-name="{{ row.getName() }}">View</button>
                    {% if not row.isReadOnly() %}
                        <button class="delete" data-name="{{ row.getName() }}">Delete</button>
                    {% endif %}
                </td>
                <td>{{ row.getName() }}</td>
                <td>{{ row.getTitle() }}</td>
                <td>{{ row.getSubject() }}</td>
                <td>{{ row.getType() }}</td>
                <td>{{ row.getDomain() }}</td>
                <td>{{ row.getPath() }}</td>
                <td>{{ row.getTheme() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if isAllowed('admin-applications-add') %}
        <button class="add" data-dialog="application_add">Add</button>
    {% endif %}
{% endblock %}

{% block dialog %}
    {% if isAllowed('admin-applications-add') %}
    <dialog id="application_add">
        {{ _FORM.renderForm(form) }}
    </dialog>
    {% endif %}
{% endblock %}
