{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element checkbox{% if formElement.getErrors() %} error{% endif %}">
    {% set range = formElement.getValueRange() %}
    {% if range|length > 1 %}
        <fieldset name="{{ formElement.getName() }}">
            <legend>{{ formElement.getLabel() }}</legend>
            {% set values = formElement.getValues() %}
            {% for label, option in range %}
                {% set selected = (option in values) or (values[option]) %}
                <label>
                    <input type="hidden" name="{{ formElement.getName() }}[{{ option }}]" value="0" />
                    <input type="checkbox" name="{{ formElement.getName() }}[{{ option }}]" value="1"{% if selected %}checked="checked"{% endif %} />
                    {{ label }}
                </label>
            {% endfor %}
        </fieldset>
    {% else %}
        {% set value = formElement.getValues() %}
        <input type="hidden" name="{{ formElement.getName() }}" value="0" />
        <input type="checkbox" name="{{ formElement.getName() }}" id="{{ formElement.getId() }}" value="1"{% if value[0] %} checked="checked"{% endif %} />
        <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    {% endif %}
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
