{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element input image{% if formElement.hasErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="image" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
    {% if formElement.hasErrors() %}
        {{ _FORM.renderErrorBlock(formElement) }}
    {% endif %}
</div>
