{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element input url{% if formElement.getErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    {% set value = formElement.getValues() %}
    <input type="url" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ value[0] }}" />
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
