{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element radio{% if formElement.getErrors() %} error{% endif %}">
    {% set range = formElement.getValueRange() %}
    {% if range|length > 1 %}
        <fieldset name="{{ formElement.getName() }}">
            <legend>{{ formElement.getLabel() }}</legend>
            {% for label, option in range %}
                <label>
                    <input type="radio" name="{{ formElement.getName() }}" value="{{ option }}"{% if option in formElement.getValues() %}checked="checked"{% endif %}  />
                    {{ label }}
                </label>
            {% endfor %}
        </fieldset>
    {% else %}
        {% set value = formElement.getValues() %}
        <input type="radio" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" value="{{ value[0] }}"  />
        <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    {% endif %}
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
