{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element file{% if formElement.getErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <input type="file" id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" />
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
