{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element output{% if formElement.hasErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <output id="{{ formElement.getId() }}" name="{{ formElement.getName() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}></output>
    {% if formElement.hasErrors() %}
        {{ _FORM.renderErrorBlock(formElement) }}
    {% endif %}
</div>
