{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element select{% if formElement.getErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    <select id="{{ formElement.getId() }}" name="{{ formElement.getName() }}" {% if formElement.getMultiple() %}multiple="multiple"{% endif %}>
        {% set range = formElement.getValueRange() %}
            {% for label, option in range %}
                {% if option is iterable %}
        <optgroup label="{{ label }}">
                    {% for rowLabel, rowValue in option %}
                        {{ dump(row) }}
                        <option value="{{ rowValue }}"{% if rowValue in formElement.getValues() %} selected="selected"{% endif %}>{{ rowLabel }}</option>
                    {% endfor %}
        </optgroup>
                {% else %}
        <option value="{{ option }}"{% if option in formElement.getValues() %} selected="selected"{% endif %}>{{ label }}</option>
                {% endif %}
            {% endfor %}
    </select>
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement) }}
    {% endif %}
</div>
