{% import '@WebHemi/macros/renderForm.twig' as _FORM %}

{% set options = options|default(false) %}
{% set label = options.label|default(formElement.getLabel()) %}

{# @var formElement \WebHemi\Form\Element\Html\HtmlElement #}
{% set values = formElement.getValues() %}
{% set attributes = '' %}
{% for attribute, value in options.attributes|default([]) %}
    {% if attribute not in  ['type', 'id', 'name', 'value'] %}
        {% set attributes = attributes ~ ' ' ~ attribute ~ '="' ~ value ~ '"' %}
    {% endif %}
{% endfor %}
<div class="element button submit">
    <button type="submit"
            id="{{ formElement.getId() }}"
            name="{{ formElement.getName() }}"
            value="{{ values[0] }}"
            {{ attributes }}
    >{{ label }}</button>
</div>
