{% import '@WebHemi/macros/renderForm.twig' as _FORM %}

{% set options = options|default(false) %}
{% set label = options.label|default(formElement.getLabel()) %}

<div class="element input textarea">
    <label for="{{ formElement.getId() }}">{{ label }}</label>
    {% set values = formElement.getValues() %}
    <textarea id="{{ formElement.getId() }}"
              name="{{ formElement.getName() }}"
            {% for attribute, value in options.attributes|default([]) %}
                {% if attribute not in  ['id', 'name'] %}
                    {{ attribute }}="{{ value }}"
                {% endif %}
            {% endfor %}
    >{{ values[0] }}</textarea>
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
