{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element input textarea{% if formElement.getErrors() %} error{% endif %}">
    <label for="{{ formElement.getId() }}">{{ formElement.getLabel() }}</label>
    {% set value = formElement.getValues() %}
    <textarea id="{{ formElement.getId() }}" name="{{ formElement.getName() }}">{{ value[0] }}</textarea>
    {% if formElement.getErrors() %}
        {{ _FORM.renderErrorBlock(formElement.getErrors()) }}
    {% endif %}
</div>
