{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Manage Themes - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > Themes
{% endblock %}

{% block content %}
    <h1>Manage Themes</h1>
    <div class="control-panel themes">
        {% for row in data %}
            <div id="theme_{{ row.name }}">
                <h2>{{ row.title }}</h2>
                <p>by {{ row.author }}</p>
                <ul>
                    {% if row.feature_website %}<li>Website</li>{% endif %}
                    {% if row.feature_login %}<li>Admin Login</li>{% endif %}
                    {% if row.feature_admin %}<li>Admin</li>{% endif %}
                </ul>
                <button class="view" data-name="{{ row.name }}">View</button>
                {% if not row.read_only %}
                    <button class="delete" data-name="{{ row.name }}">Delete</button>
                {% endif %}
                {% if row.preview|default(false) %}<img src="{{ row.preview }}">{% endif %}
            </div>
        {% endfor %}
        {% if isAllowed('admin-control-panel-themes-add') %}
            <button class="add">Add</button>
        {% endif %}
    </div>
{% endblock %}

