{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Manage Applications - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > Applications
{% endblock %}

{% set selectedPanel = 'applications' %}

{% block panelcontent %}
    <h1>Applications</h1>
    <table summary="Applications">
        <caption>Applications</caption>
        <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Domain</th>
            <th>Path</th>
            <th>Theme</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {# @var row \WebHemi\Data\Entity\ApplicationEntity #}
            {% set domain = row.getReference('fk_domain') %}
            <tr>
                <td>
                    {% if isAllowed('admin-control-panel-applications-view') %}
                    <button class="view" data-name="{{ row.getName() }}">View</button>
                    {% endif %}
                    {% if not row.isReadOnly() and isAllowed('admin-control-panel-applications-delete') %}
                        <button class="delete" data-name="{{ row.getName() }}">Delete</button>
                    {% endif %}
                </td>
                <td>{{ row.getName() }}</td>
                <td>{{ row.getTitle() }}</td>
                <td>{{ row.getSubject() }}</td>
                <td>{{ domain.getSchema() ~ domain.getDomain() }}</td>
                <td>{{ row.getPath() }}</td>
                <td>{{ row.getTheme() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if isAllowed('admin-control-panel-applications-add') %}
        <button class="add">Add</button>
    {% endif %}
{% endblock %}
